@using PagedList.Mvc
@model  PagedList.IPagedList<QLSinhVien.Models.SinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("HoTen").Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("NamSinh").Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("KhoaHoc").Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("Email").Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("Password").Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetType().GetProperty("IdLopHoc").Name)
            
        </th>
        <th>
            <input type="text" class="control-label col-md-12" id="searchInput" onkeyup="SearchTable()" placeholder="Search...">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @(item.NamSinh.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @(item.LopHoc.TenLop)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div class="pagination" style="float: right">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<script type="text/javascript">
    function SearchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>